.App {
  text-align: center;
  background-color: hsl(205, 39%, 90%);
}
.input {
    background-color: #f9f7fe;
      border: none;
      color: rgba(17, 67, 47, 0.4);
      font-size: 16px;
      padding: 20px;
      width: 75%;
      border-radius: 6px;
}
.search-field {
  padding: 5px 10px;
  background: hsl(206, 62%, 93%);
  border: solid rgb(145, 204, 206) 1px;
  margin-right: 2px;
  border-radius: 5px;
}
button {
  margin-left: 5px;
  font-size: 16px;
  background-color: #ade2b7;
  color: white;
  cursor: pointer;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
}
li {
  list-style: none;
  font-family: sans-serif;
  color: darkslategray;
  font-size: 1.3em;
  padding-left: 0;
  margin-left: 0;
}

p.summary {
  font-size: 1.5em;
  color: darkslategray;
  font-weight: 600;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 30px;
  background-color: rgb(240, 199, 199);
  color: rgba(39, 33, 66, 0.4);
}